<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adform Academy task - favourite cars</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <main>
        @RenderBody()
    </main>

    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>
